<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GKII Petra Siantan | Beranda</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" href="asset/CSS/style.css">

</head>
<body>
    <header>
        <div class="logo">
            <img src="/image/logo (1).svg" alt="logo">
            <p1>GKII Petra Siantan</p1>
        </div>
        <nav class="navigation">
            <a href="/">Beranda</a>
            <a href="/jadwal">Jadwal</a>
            <a href="/informasi">Informasi Kegiatan</a>
            <a href="/tentang">Tentang Kami</a>
            <button class="btnLogin-popup">Login</button>
        </nav>
    </header>
    <div class="isi">
        <div class="hero">
            <h1>Beranda</h1>
        </div>
        <div class="summary">
            <img src="image/Halaman gereja.svg" alt="halaman gereja">
            <div class="text">
                <p>
                   <b>Gereja Kemah Injill Indonesia</b> atau GKII merupakan gereja yang dibangun untuk menyebarkan dan membawa firman Tuhan dan juga merupakan tempat di mana iman, kasih, dan pengharapan bersatu. Di sini, Firman Tuhan menjadi panduan bagi setiap langkah kita. Kami berkomitmen untuk memperluas pengaruh Kristus melalui ibadah, persekutuan, dan pelayanan.
                   <br>
                   <br>
                   Mari bersama-sama tumbuh dalam iman dan menjadi terang bagi dunia di sekitar kita dan juga berkomitmen untuk melayani masyarakat sekitar dengan kasih dan kepedulian, Dalam persekutuan ini, kita belajar untuk saling mengasihi, memahami, dan memberikan dukungan satu sama lain. Mari bersama-sama menjadi cermin kasih Kristus di dunia ini.
                </p>
            </div>
        </div>
        <div class="map">
            <h1>Lokasi</h1>
            <div class="map2">
                <div class="alamat">
                    <h3>Alamat:</h3>
                    <br>
                    <p>Jl. 28 Oktober, Siantan Hulu, Kec. Pontianak Utara, Kota Pontianak, Kalimantan Barat 78242</p>
                </div>
                <div class="peta">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3989.8183190271347!2d109.36091927376994!3d0.0014715999985263357!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31e2a7f7b2da4f47%3A0x1139f910f0352705!2sGereja%20Kemah%20Injil%20Indonesia!5e0!3m2!1sen!2sid!4v1716904776805!5m2!1sen!2sid" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>            </div>
            </div>
        </div>
        <hr>
        <div class="tambahan">
            <ol class="ayat">
                <li>
                    <b>Matius 18:20: “</b>Sebab di mana dua atau tiga orang berkumpul dalam nama-Ku, di situ Aku ada di tengah-tengah mereka.<b>”</b>
                </li>
                <li>
                    <b>1 Korintus 3:16: “</b>Tidak tahukah kamu, bahwa kamu adalah bait Allah dan bahwa Roh Allah diam di dalam kamu?<b>”</b>
                </li>
                <li>
                    <b>Kisah Para Rasul 20:28: “</b>Karena itu jagalah dirimu dan jagalah seluruh kawanan, karena kamulah yang ditetapkan Roh Kudus menjadi penilik untuk menggembalakan jemaat Allah yang diperoleh-Nya dengan darah Anak-Nya sendiri.<b>”</b>
                </li>
                <li>
                    <b>Efesus 2:21-22: “</b>Di dalam Dia tumbuh seluruh bangunan, rapi tersusun, menjadi bait Allah yang kudus, di dalam Tuhan. Di dalam Dia kamu juga turut dibangunkan menjadi tempat kediaman Allah, di dalam Roh.<b>”</b>
                </li>
            </ol>
            <div class="gambar_kegiatan">
                <img src="image/kegiatan.svg" alt="gambar kegiatan">
            </div>
        </div>
        <footer>
        <div class="sisi_kiri">
            <h3>
                Hubungi Kami
            </h3>
            <div class="sosmed">
                <p>
                    Media Sosial:
                </p>
                <div class="icon">
                    <a href="https://www.facebook.com/p/GKII-PETRA-Siantan-100067364276416/?locale=nb_NO"><img src="image/FB.svg"></a>
                    <a href="https://www.instagram.com/gkiipetrasiantan/"><img src="image/Insta.svg"></a>
                    <a href="https://api.whatsapp.com/send?phone=6285849918650&text=Hello%20there%2C%20I%20am%20interested%20in%20your%20products"><img src="image/WA.svg"></a>
                </div>
            </div>
        </div>
        <div class="sisi_tengah">
            <h3>
                GKII Petra Siantan
            </h3>
            <p>
                Jl. 28 Oktober, Siantan Hulu, Kec. Pontianak Utara, Kota Pontianak, Kalimantan Barat 78242
            </p>
        </div>
        <div class="sisi_kanan">
            <h5>“Menjadi Gereja yang Bertumbuh Secara Kualitas dan Kuantitas”</h5>
        </div>
        </footer>
    </div>
    
    <!-- login -->
    <div class="wrp">
        <div class="wrapper">
            <span class="icon-close">
                <ion-icon name="close-outline"></ion-icon>
            </span>
            <div class="form-box login">
                <h2>Login</h2>
                <form action="#">
                    <div class="input-box">
                        <span class="icon"><ion-icon name="person-outline"></ion-icon></span>
                        <input type="username" required>
                        <label>Username</label>
                    </div>
                    <div class="input-box">
                        <span class="icon"><ion-icon name="lock-closed-outline"></ion-icon></span>
                        <input type="password" required>
                        <label>Password</label>
                    </div>
                    <div class="remember-forgot">
                        <label><input type="checkbox">
                        Remember me</label>
                        <a href="#">Forgot Password?</a>
                    </div>
                    <button id="login-button" type="submit" class="btn">Login</button>
                    
                </form>
            </div>
        </div>
    </div>

    <script src="asset/JS/login.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

</body>