<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GKII Petra Siantan | Tentang Kami</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="asset/CSS/style.css">
</head>
<body>
    <header>
        <div class="logo">
            <img src="image/logo (1).svg" alt="logo">
            <p1>GKII Petra Siantan</p1>
        </div>
        <nav class="navigation">
            <a href="/">Beranda</a>
            <a href="/jadwal">Jadwal</a>
            <a href="/informasi">Informasi Kegiatan</a>
            <a href="/tentang">Tentang Kami</a>
            <button class="btnLogin-popup">Login</button>

        </nav>
    </header>
    <div class="isi">
        <div class="hero">
            <h1>Tentang Kami</h1>
        </div>
        <div class="deskripsi">
            <p style="font-size: 30px;">Apa itu GKII Siantan</p>
            <div class="paragraph">
                <p>Gereja Kristen Injil Indonesia (GKII) Petra Siantan adalah komunitas yang bersemangat untuk mengenal Kristus lebih dalam. Kami memahami bahwa pertumbuhan bukan hanya tentang jumlah anggota, tetapi juga tentang kualitas iman dan pengaruh positif yang kami miliki di masyarakat sekitar. </p>
                <p>Bertemakan, <b>“Gereja yang Bertumbuh dan Berdampak”</b>, mencerminkan semangat kami untuk terus tumbuh dalam iman dan memperluas pengaruh Kristus. Kami percaya bahwa gereja yang bertumbuh akan secara alami berdampak positif pada lingkungan sekitarnya. Oleh karena itu, kami aktif dalam pelayanan di luar gereja, mengajak orang untuk mengenal Yesus melalui penginjilan, mengajarkan Firman Tuhan, dan memuridkan. Dalam persekutuan ini, kami berusaha untuk menjadi cermin kasih Kristus di dunia ini. Kami mengundang semua orang yang haus akan kebenaran dan kasih untuk bergabung dalam jalan Kasih cinta Tuhan dalam jalan Kebenaran.</p>
                <p>Dengan visi menjadi gereja yang bertumbuh secara kualitas dan kuantitas, kami berkomitmen untuk terus belajar, beradaptasi, dan memperkuat iman jemaat.</p>
            </div>
        </div>
        <div class="visi-misi">
            <div class="visi">
                <h6 style="font-size: 25px;">
                    Visi
                </h6>
                <p>
                    Menjadi Gereja yang Bertumbuh Secara Kualitas dan  Kuantitas
                </p>
            </div>
            <div class="misi">
                <h6 style="font-size: 25px;">
                    Misi
                </h6>
                <div class="poin-visi">
                    <p>Pergi Memberitakan Injil</p>
                    <p>Mengajarkan Firman</p>
                    <p>Memuridkan</p>
                </div>
            </div>
        </div>
        <div class="susunan">
            <h1>Susunan Komposisi BPJ GKII Petra Siantan</h1>
            <div class="nama-bagian">
                <h3>Penasihat</h3>
                <div class="posisi-dan-nama">
                    <div class="posisi">
                        <ul>
                            <li>
                                Bidang Pelayanan dan Doktrin:
                            </li>
                            <li>
                                Bidang Advokasi dan Hukum:
                            </li>
                        </ul>
                    </div>
                    <div class="nama">
                            <p>
                                Pdt. Mansur Samin, M. Th
                            </p>
                            <p>
                                Gunawan, SH
                            </p>
                    </div>
                </div>
            </div>
            <div class="nama-bagian">
                <h3>Badan Pengurus Harian Jemaat</h3>
                <div class="posisi-dan-nama">
                    <div class="posisi">
                        <ul>
                            <li>
                                Ketua:
                            </li>
                            <li>
                                Wakil Ketua:
                            </li>
                            <li>
                                Sekretaris:
                            </li>
                            <li>
                                Bendahara:
                            </li>
                            <li>
                                Wakil Bendahara:
                            </li>
                        </ul>
                    </div>
                    <div class="nama">
                            <p>
                                Pdt. Mansur Samin, M. Th
                            </p>
                            <p>
                                Songkon, S.E.
                            </p>
                            <p>
                                C. Kanyan, S.H.
                            </p>
                            <p>
                                Rosnawati, S.E.
                            </p>
                            <p>
                                Eksakwin, S.Kom.
                            </p>
                    </div>
                </div>
            </div>
            <div class="nama-bagian">
                <h3>Ketua-ketua Seksi Bidang Pelayanan</h3>
                <div class="posisi-dan-nama">
                    <div class="posisi">
                        <ul>
                            <li>
                                Seksi Misi/Penginjilan:
                            </li>
                            <li>
                                Seksi Penata Layanan:
                            </li>
                            <li>
                                Seksi Diakonia:
                            </li>
                            <li>
                                Seksi Pembangunan:
                            </li>
                            <li>
                                Seksi Perlengkapan:
                            </li>
                            <li>
                                Seksi Humas dan Usaha Dana:
                            </li>
                            <li>
                                Seksi Sekolah Minggu:
                            </li>
                            <li>
                                Seksi Pemuda:
                            </li>
                            <li>
                                Seksi Perkauan:
                            </li>
                            <li>
                                Seksi perkaria:
                            </li>
                            <li>
                                Seksi Pengembangan SDM & Pendidikan:
                            </li>
                        </ul>
                    </div>
                    <div class="nama">
                            <p>
                                Ev. Saem, S. Th
                            </p>
                            <p>
                                Golos Noberto, A.Mp.Pd
                            </p>
                            <p>
                                Selly, S. Pd. K
                            </p>
                            <p>
                                Eging, S.Kom.
                            </p>
                            <p>
                                Perdy
                            </p>
                            <p>
                                Sertu Asiani
                            </p>
                            <p>
                                Meliansi
                            </p>
                            <p>
                                Alpredo Samuel Maro
                            </p>
                            <p>
                                Luaya Tarigan
                            </p>
                            <p>
                                Marthein Nikolaos, A.Md.Pd
                            </p>
                            <p>
                                Lily Wara Rahayu, S.Pd.
                            </p>
                    </div>
                </div>
            </div>
            <div class="nama-bagian">
                <h3>Pengurus Keuangan</h3>
                <div class="posisi-dan-nama">
                    <div class="posisi">
                        <ul>
                            <li>
                                Pengurus:
                            </li>
                        </ul>
                    </div>
                    <div class="nama">
                            <p>
                                Serom, S.S.T.
                            </p>
                    </div>
                </div>
            </div>
        </div>

        <footer>
            <div class="sisi_kiri">
                <h3>
                    Hubungi Kami
                </h3>
                <div class="sosmed">
                    <p>
                        Media Sosial:
                    </p>
                    <div class="icon">
                        <a href="https://www.facebook.com/p/GKII-PETRA-Siantan-100067364276416/?locale=nb_NO"><img src="/image/FB.svg"></a>
                        <a href="https://www.instagram.com/gkiipetrasiantan/"><img src="/image/Insta.svg"></a>
                        <a href="https://api.whatsapp.com/send?phone=6285849918650&text=Hello%20there%2C%20I%20am%20interested%20in%20your%20products"><img src="/image/WA.svg"></a>
                    </div>
                </div>
            </div>
            <div class="sisi_tengah">
                <h3>
                    GKII Petra Siantan
                </h3>
                <p>
                    Jl. 28 Oktober, Siantan Hulu, Kec. Pontianak Utara, Kota Pontianak, Kalimantan Barat 78242
                </p>
            </div>
            <div class="sisi_kanan">
                <h5>“Menjadi Gereja yang Bertumbuh Secara Kualitas dan Kuantitas”</h5>
            </div>
        </footer>
    </div>
        
    <div class="wrp">
        <div class="wrapper">
            <span class="icon-close">
                <ion-icon name="close-outline"></ion-icon>
            </span>
            <div class="form-box login">
                <h2>Login</h2>
                <form action="#">
                    <div class="input-box">
                        <span class="icon"><ion-icon name="person-outline"></ion-icon></span>
                        <input type="username" required>
                        <label>Username</label>
                    </div>
                    <div class="input-box">
                        <span class="icon"><ion-icon name="lock-closed-outline"></ion-icon></span>
                        <input type="password" required>
                        <label>Password</label>
                    </div>
                    <div class="remember-forgot">
                        <label><input type="checkbox">
                        Remember me</label>
                        <a href="#">Forgot Password?</a>
                    </div>
                    <button id="login-button" type="submit" class="btn">Login</button>
                    
                </form>
            </div>
        </div>
    </div>

    <script src="asset/JS/login.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

    </body>
    
    